body {
  background-color: #003e42;
  background-image: url("https://www.transparenttextures.com/patterns/escheresque-dark.png");
  color: #f0dff0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
}

img {
  width: 22%;
  position: relative;
  left: 70%;
  bottom: 80px;
  border: 3px solid #f0dff0;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 2px dotted #dddddd;
  border-bottom: 2px dotted #dddddd;
  background-color: rgba(0,0,0, 0.2);
}
