body {
  background-color: #444444;
  color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 2px dotted #dddddd;
  border-bottom: 2px dotted #dddddd;
  background-color: rgba(0,0,0, 0.2);
}
